<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device - width, initial-scale=1">
    <title>Taleit</title>
    <link href="../js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<!--header-->
<div class="header">

</div>
<!--middle-->
<div class="body container-fluid">
    <div class="row">
        <div class="stories-container-outer col-md-push-1 col-md-10">
            <div class="row">
                <div class="stories-container col-md-push-1 col-sm-push-1 col-xs-push-1 col-md-10 col-sm-10 col-xs-10">
                    sdfsdfsadfsafsddddddddsssssssssssssssss
                </div>
            </div>
        </div>
    </div>
</div>

<!--buttons-->
<div class="buttons">
    <button type="button" class="btn btn-danger" title="Shuffle Stories">
        <span class="glyphicon glyphicon-random" aria-hidden="true"></span> Shuffle
    </button>

    <button type="button" class="btn btn-primary btn-lg" title="Start a new story">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
    </button>
</div>

<!--Footer-->
<div class="footer">

</div>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>